.boldtext {
  font-weight: bolder;
}
.brandText {
  font-size: 2em;
  font-weight: bolder;
  color: cadetblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.carouselClass {
  width: 50% !important;
}

@media only screen and (max-width: 992px) {
  .carouselClass {
    width: 90% !important;
  }
}
